// Define variables for your color scheme

// For example:
$bg-color: #FFFEFF;
$light-beige: #FEF7EB;
$yellow: #F6AE2D;
$orange: #EB9C0A;
$orange: #E67E22;
$blue: #10BCC2;
$light-blue: #A1F4F7;
$light-grey: #F7F6F7;
$grey: #C9C8C9;
$black: #2A282A;
