.recap-favorite > form > button {
  padding: 0;
}

.social-links > li > a {
  text-decoration: none;
  color: $black;
}

.photo-card > img {
  object-fit: cover;
  object-position: center;
  height: 13rem;
}
