<div class= "container p-6 mb-4">

  <%# Show highest rated recaps if user clicked the button from home page if not all recaps %>
  <% if params[:top] == "yes" %>
    <h1 class="text-center">Highest Rated Recaps:</h1>
  <% else %>
    <h1 class="text-center">All Recaps:</h1>
  <% end %>
  <br>
  <div class="allrecap-cards">
    <div class="recapcards">
      <%= render "shared/recapcards" %>
    </div>
  </div>
</div>
