<div class= "container p-6">
  <h1 class="text-center">Higest Rated Recaps:</h1>
  <br>
  <div class="recap-cards">
    <!-- Show 5 random book recaps-->
    <% @recaps.each do |recap| %>
      <% if recap.ratings.average("star") > 3 %>
        <%= link_to recap, style:"text-decoration: none; color: black" do %>
          <div class="card-all">
            <img src="<%= recap.book.photo_url %>">
            <div class= "card-all-infos">
              <h2><%= recap.title %></h2>
              <p><%= recap.user.username %></p>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
