<div class="container">
  <h1>All of your book recaps:</h1>

  <div class="recap-cards">
    <% @recaps = Recap.where(book_id: params[:book_id]) %>
    <%= render "shared/recapcards" %>
  </div>
</div>

<div class="icon-item">
  <div style="text-decoration: none;"><%= link_to :back do %>
    <i class="icon-link"><i class="fas fa-chevron-left" ></i></i>
    <% end %>
  </div>
</div>
