<h1>All of your book recaps:</h1>

<% @recaps.each do |recap| %>
  <%= link_to recap, class: "a", style: "color: $black;" do %>
    <h2><%= recap.user.username %></h2>
    <p><%= recap.summary %></p>
  <% end %>
<% end %>
