<div class="container">
  <h1>All of your book recaps:</h1>

  <div class="recap-cards">
    <% @recaps = Recap.where(book_id: params[:book_id]) %>
    <%= render "shared/recapcards" %>
  </div>
</div>
