<div class="container my-3">
  <h3>Recaps for: <em><%= @book.title %></em></h3>
  <h5><%= @recaps = Recap.where(book_id: params[:book_id]).count %> Result(s)</h5>

  <div class="recap-cards my-4">
    <% @recaps = Recap.where(book_id: params[:book_id]) %>
    <%= render "shared/recapcards" %>
  </div>
  <%= link_to "Add recap", new_book_recap_path, class: "btn-action"  %>
</div>
