<div class="banner" style="background-image: url(<%= image_url "banner.png" %>);">
  <div class="banner-container-recaps">
  <h6><strong>Author:</strong> J.K. Rowling</h6>
    <h1><strong>Your chosen book recap.</strong></h1>
    <p>Ratings will go here link will need to be implemented.</p>
  </div>
</div>






<h5><%= @recap.summary %></h5>
