<div class="footer">
  <div class="footer-links">
    <a href="https://www.instagram.com/accounts/login/" target=”_blank”><i class="fab fa-instagram"></i></a>
    <a href="https://de-de.facebook.com/" target=”_blank”><i class="fab fa-facebook"></i></a>
    <a href="https://de.linkedin.com/" target=”_blank”><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    Created with <i class="fas fa-heart"></i> by Melissa, Anna, Nicola & Michelle
  </div>
</div>
