<div class="banner" style="background-image: url(<%= image_url "banner.png" %>);">
  <div class="banner-container">
    <h4>Welcome to</h4>
    <h1>read<em>Caps</em></h1>
    <p>Find recaps of your favorite books</p>
    <a class="btn btn-primary" href="#">Apply now</a>
  </div>
</div>
