<h1>Your results for your search:</h1>


require "json"
require "open-uri"

url = "https://www.googleapis.com/books/v1/users/102817767719508217692/bookshelves/0/volumes?key=AIzaSyB2JkrpLAnGFV2hqVXiJAYSdMwv6hqSFKA"
user_serialized = URI.open(url).read
user = JSON.parse(user_serialized)

puts "#{user["name"]} - #{user["author"]} - #{user["description"]} - #{user["smallThumbnail"]}"
