<div class="container">
  <h1>Your results for your search:</h1>

  <div class="cards">
    <% @books.each do |book| %>
      <div class="card-book">
        <div class="card-image">
          <%= image_tag book.photo_url, crop: :fit %>
        </div>
        <div class="card-info">
          <h2><%= book.title %></h2>
          <p><%= book.author %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
