.footer {
  background: #FEF7EB;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 75px;
  padding: 0px 50px;
  color:#F6AE2D;
  width: 100%;
  margin-top: auto;
}

.footer-links {
  display: flex;
  align-items: center;
  margin-right: 3px;
}

.footer-links a {
  color: #10BCC2;
  opacity: 0.6;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
  margin-right: 3px;
}

.footer-links a:hover {
  opacity: 1;
}

.footer .fa-heart {
  color: #D23333;
  margin-right: 3px;
  margin-left: 3px;
}

.footer-copyright {
  display: flex;
  align-items: center;
}

.footer .avatar-xs {
  margin-right: 3px;
}

/*Media Queries*/

/*Smallest device*/
@media (min-width: 100px) and (max-width: 575px) {
  .footer {
    padding: 0px 15px;
  }
}
