.icon-item {
  color: #10BCC2;
}

.icon-action {
  transition: opacity 0.5s;
  opacity: 0.8;
}

.social-icon {
  background: $blue;
  padding: 0.9em 1em;
  border-radius: 50%;
  color: $bg-color;
  transition: opacity 0.5s;
  opacity: 0.8;
}

.social-icon:hover {
  transition: opacity 1.5s;
  opacity: 0.5;
  background-color: #F6AE2D;
  cursor: pointer;
}

li {
  margin-bottom: 5px;
  color: rgba(0, 0, 0, 0.685);
}
