.navbar-lewagon {
  justify-content: space-between;
  background: $bg-color;
  padding: 15px;
  height: 100%;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.logo {
  font-family: $headers-font;
  color: #10BCC2;
  font-size: 33px;
  font-weight: bolder;
}

.nav-link {
  margin-right: 25px;
  font-size: 21px;
}


.book-search-form {
  input[type=text] {
    width: 40vw;
    margin-right: 5px;
    background-color: $light-grey;
    border-radius: 6px;
    border-color: transparent;
  }
}

/*Media Queries*/

/*Smallest device*/
@media (min-width: 100px) and (max-width: 575px) {
  .book-search-form {
    margin: 0 auto 22px auto;
    position: relative;
  }

  .book-search-form {
    form.simple_form.search {
      width: auto;
      display: flex;
    }
  }
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
  .book-search-form {
    margin: 0 auto 22px auto;
    position: relative;
  }

  .book-search-form {
    form.simple_form.search {
      width: auto;
      display: flex;
    }
  }
}

/*Medium devices (tablets, 768px to 1200px)*/
@media (min-width: 768px) {
  .book-search-form {
    margin: -62px auto 22px auto;
    position: relative;
  }

  .book-search-form {
    form.simple_form.search {
      width: auto;
      display: flex;
    }
  }
}

/*Large devices (1200px and up)*/
@media (min-width: 1200px) {
  .book-search-form {
    margin: -62px auto 22px auto;
    position: relative;
  }

  .book-search-form {
    form.simple_form.search {
      width: 600px;
      display: flex;
    }
  }
}
