.navbar-lewagon {
  justify-content: space-between;
  background: $bg-color;
  padding: 15px;
  height: 100%;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.logo {
  font-family: $headers-font;
  color: #10BCC2;
  font-size: 33px;
  font-weight: bolder;
}

.nav-link {
  margin-right: 25px;
  font-size: 21px;
}

form.simple_form.search {
  width: 600px;
  display: flex;
}

input[type=text] {
  width: 40vw;
  margin-right: 5px;
  background-color: $light-grey;
  border-radius: 6px;
  border-color: transparent;
}
