.recap-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
}

.card-all {
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 10px;
  padding: 10px;
  align-items: center;
}

.card-all img {
  height: 200px;
  object-fit: contain;
  border: 1px solid rgba(156, 153, 153, 0.479);
  background-color: $light-beige;
  opacity: 0.6;
}

.card-all h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-all p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.card-all .card-all-infos {
  padding: 16px;
}

.card-all img:hover {
  opacity: 1;
}
